.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
ozgecmis.zip
ozgecmis/index.html
ozgecmis/index.html
.ozgecmis/
cv-guncel/index.html
cv-guncel/assets/background.jpg
cv-guncel/assets/profile.jpg
cv-guncel/css/bootstrap.min.css
cv-guncel/css/style.css
